body {
	background-image: url("pastel.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh; /*google is my friend. I wanted to make it fit*/
	width: 100vh;
}

h1 {
	text-align: center;
	background-color: #fff5ee;
	font-family: Arial;
	border: 2px dotted blue;
	padding: 10px 15px;
	width: 250px;
	margin-bottom: 20px;
}

p {
  	text-align: justify;
	background-color: hsl(25, 100%, 97%);
  	font-style: italic;
  	padding: 20px;
	border-width: 3px;
  	border-color: black;
	border-style: solid dashed double hidden;
	width: 500px;
}


span {
  	font-weight: bold;
  	font-style: italic;
	color: rgb(227, 115, 131);
  	margin-right: 5px;
	margin-left: 2px;
}
