body {
  background-image: url ("Camera.jpg");
}

h1 {
  text-align: center;
  font-family: Arial;
  padding: 10 10 15 15;
  width: 250px;
  margin: 20px;
}

p {
  text-align: justify;
  text-decoration: italic;
  padding: 20px;
  border: 3px solid black;
}

span {
  text-decoration: bold;
  text-decoration: italic;
  margin: 2px 5px;
