body {
	background-image: url("Camera.jpg");
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: 550px 230px;
}

h1 {
	text-align: center;
	background-color: pink; /*hex coding later*/
	font-family: Arial;
	border: 2px dotted blue;
	padding: 10px 10px 15px 15px;
	width: 250px;
	margin-bottom: 20px;
}

p {
  	text-align: justify;
	background-color: pink; /*HSL format later*/
  	font-style: italic;
  	padding: 20px;
	border-width: 3px;
  	border-color: black;
	border-style: solid dashed double hidden;
	width: 500px;
}

span {
  	font-weight: bold;
  	font-style: italic;
	color: blue; /*RGB later*/
  	margin: 2px 5px;
}
